<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hashtag.hashtaggenrator.hashtagforinstagram.freehashtag.hasham">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/roundcorner"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/circle"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.hashtag.hashtaggenrator.hashtagforinstagram.freehashtag.hasham.Activity.TutoActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" ></activity>
        <activity
            android:name="com.hashtag.hashtaggenrator.hashtagforinstagram.freehashtag.hasham.Activity.SubmitedActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.hashtag.hashtaggenrator.hashtagforinstagram.freehashtag.hasham.Activity.Splashsreen"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.hashtag.hashtaggenrator.hashtagforinstagram.freehashtag.hasham.Activity.Aboutus"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.hashtag.hashtaggenrator.hashtagforinstagram.freehashtag.hasham.Activity.HomeActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name="com.hashtag.hashtaggenrator.hashtagforinstagram.freehashtag.hasham.Activity.saved"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.hashtag.hashtaggenrator.hashtagforinstagram.freehashtag.hasham.Activity.EyeActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.hashtag.hashtaggenrator.hashtagforinstagram.freehashtag.hasham.Activity.BioActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.hashtag.hashtaggenrator.hashtagforinstagram.freehashtag.hasham.Activity.submit"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.hashtag.hashtaggenrator.hashtagforinstagram.freehashtag.hasham.Activity.heart"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>

</manifest>